* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #555;
}

.game-button {
  width: 234px;
  height: 234px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  border: 15px solid #DDD;
  border-radius: 10%;
  box-shadow: 0 0 5px 3px #333 inset;
}

.button-lit {
  border: 5px solid rgba(255, 255, 255, 0.9);
}

.button-green {
  background-color: #008A17;
}

.button-red {
  background-color: #8C0000;
  float: right;
}

.button-yellow {
  background-color: #8A7003;
  float: right;
}

.button-blue {
  background-color: #071A8A;
}

.board {
  position: relative;
  background-color: #DDD;
  width: 468px;
  height: 468px;
  margin: 0 auto;
  box-shadow: 1px 1px 8px 4px;
  border: 10px solid #DDD;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.inset {
  //position: relative;
  position: absolute;
  width: 234px;
  height: 234px;
  top: 50%;
  left: 50%;
  margin-left: -117px;
  margin-top: -360px;
  background-color: #DDD;
  border: 10px solid #DDD;
  box-shadow: 0 0 5px 1px;
  border-radius: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.control-labels, .controls {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: space-between;
  align-items: space-between;
  margin-top: 75px;
}
.control-labels .label-button, .controls .label-button, .controls .ctrl-button {
  font-family: "Open Sans Condensed", serif;
  font-size: 15px;
  margin-left: 10.71429px;
  margin-right: 10.71429px;
  transition: all 0.5s;
}

.ctrl-label-active {
  color: #E85043;
}

.controls {
  margin-top: 15px;
}
.controls .ctrl-button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid #DDD;
  box-shadow: 1px 3px 7px 2px;
  transition: all 0.2s;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.controls .ctrl-button.start-button {
  background-color: #FF5951;
}
.controls .ctrl-button.power-button {
  background-color: #333;
}
.controls .ctrl-button.strict-mode-button {
  background-color: #E82C0C;
}

.simon-branding {
  position: relative;
  font-family: "Prompt", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: center;
}

.lcd-element {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 50px;
  background-color: #3D3D3D;
  border: 2px solid black;
  border-radius: 5px;
}

.lcd {
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  font-family: "Press Start 2P";
  font-size: 32px;
  color: #BDBCBC;
  text-shadow: 0 0 8px;
}

.lcd-strict {
  color: #E82C0C;
}

.ctrl-button-translated {
  -webkit-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  box-shadow: 0px 0px 0px 0px;
}
